body{
    margin: 0;
}
.hashtag{
    background-color: #0660D4;
    padding: 4rem;
    color: white;
    font-size: 2rem;
    font-family: cursive;
    background-image: url(/background.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right;

}
.hashtag img{
    border-radius: 100%;
    border: 5px solid white;
    width: 5rem;
    /* margin-left: -25px; */
    vertical-align: middle;
}
img+img{
    margin-left: -25px;
}
h1{
    margin: 0;
    padding-bottom: 1rem;
}